{% load staticfiles %}

<html>
	<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<title>StuartBlog</title>
	</head>

	<body>
	
		<div class="header">
			{% if user.is_authenticated %}
				<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			{% endif %}
			<h1><a href="/">StuartBlog</a></h1>
			<hr />
		</div>

		<div class="content_container">
			<div class="col-md-8">
			{% block content %}
			{% endblock %}
			</div>
		</div>

	</body>
</html>	