h1 a {
	color: #FCA205;
	font-weight: bolder;
}

h2.title {
	position: relative;
	bottom: 38px;
}

div.header {
	padding-left: 5px;
}

div.post {
	padding-left: 20px;
}

p.post_date {
	font-size: smaller;
	position: relative;
	bottom: 15px;
	text-align: right;
}

p.post_body {
	position: relative;
	bottom: 25px;
	left: 20px;
	padding-right: 40px;
}

h6 {
	font-weight: bold;
	text-align: center;
	color: grey;
}